* {
 margin: 0 auto;
 padding: 0;
 box-sizing: border-box;

}

.tela-inteira {
  display: grid;
  grid-template-rows: 10vh 1fr 10vh;
  height: 100vh;
  width: 100%;

}

header {
grid-row: 1/2;
grid-column: 1/2;
background-color: orange;
display: grid;
grid-template-columns: 10vw 1fr;
align-items: center;
padding-left: 10px;
width: 100%;

}
header > input  {
  width: 25%;
  height: 5vh;
  border: none;
  margin-left: 20px;
 text-align: center;
  justify-content: center;
  border-radius: 5px;
}

main {
grid-column: 1/2;
grid-row: 2/3;
width: 90%;
display: grid;
grid-template-columns: 10vw 5fr;
margin: 10px 0px ;

}

.menu-vertical {
  grid-column: 1/2;
  padding: 20px;
  border-right: 1px solid rgb(204, 203, 203);
 
}

.botoes-meunu-vertical {
  list-style-type: none;
  grid-column: 1/2;
  padding: 5px;


}

.painel-de-videos {
  grid-column: 2/4;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-left: 50px;
  justify-content: flex-start;
  gap: 20px;
}

.box-pagina-principal {
  width: 250px;
  height: 200px;
  border: 1px solid rgb(201, 199, 199);
  border-bottom-left-radius: 10px ;
  border-bottom-right-radius: 10px ;
  align-self: flex-start;
 
}



.box-pagina-principal > img {
  width: 100%;
  height: 70%;
  
}

footer {
  grid-column: 1/3;
  grid-row: 3/4;
  width: 100%;
  display: flex;
  background-color: gray;
  align-items: center;
  justify-content: center;
  color: white;
}

footer > h4 {
  font-size: 1.2rem;
  justify-content: center;
  font-family:Calibri;
 
}
.info-usuarios{
  display: flex;
 align-items: center;
 width: 65%;
}
.info-usuarios > img{
  width: 15%;
  border-radius: 30px;

}
